Body{
    background-color: rgb(151, 27, 6);
    font-family: arial;
}
a{
    color: black;
    text-decoration: none;
}

.failing{
    
    
}



/* menu */

.site-init{
    height: 150px;
}
.navigation-bar{
    display: flex;
    justify-content: space-around;
    
}
/* main desktop view */

.dish-month-container{
    display: flex;
    justify-content: space-between;
}
.dish-month-img{
    width: 50%;

}
.dish-month-text{
    width: 50%;
    color: yellow;
}
/* mobile view */
@media(max-width:768px){
    .dish-month-container{
        flex-direction: column;
    }
    .dish-month-img{
        width:100%;
    }
    .dish-month-text{
        width: 100%;
    }


}
.all-dishes-container{
    display: flex;
    justify-content: center;
    gap: 10px;
}
.dish-container{
    background-color: lightgray;
    width: 30%;
}

.menu-table,td,th{
    border: 1px solid black;
    border-collapse: collapse;
}
.menu-table th{
    width: 200px;
    height: 30px;
    background-color: grey;
}
.menu-table td{
    padding: 10px;
    text-align: center;
    background-color: aliceblue;
}
.input-control{
    
}



